body {
    font-family: 'Arial', sans-serif;
    color: #444;
}

.navbar {
    background-color: #0084b4;
}

.navbar-brand, .nav-link {
    color: #0084b4;
}

.navbar-brand:hover, .nav-link:hover {
    color: #0084b4;
}

.container {
    max-width: 900px;
    margin: auto;
}

.main-content {
    margin-top: 65px;
}

.item-menu {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #0098d0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.item-menu:hover {
    color: #0079a1;
    text-decoration: none;
}

.container {
    max-width: 900px;
}

.main-content {
    margin-top: 65px;
}

.item-menu {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #0098d0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.item-menu:hover {
    text-decoration: none;
}

.item-menu .icon img {
    width: 80px;
    margin: 5px 0;
    border-radius: 10px;
}

.index-menu {
    text-align: center;
    width: 100%;
    background: #F7F7F7;
}




.last-ads {
    width: 100%;
}

.last-ads td {
    padding: 5px;
    vertical-align: top;
    text-align: center;
    background: #F7F7F7;
}

.detail-photo {
    text-align: center;
}

.detail-photo img {
    width:70%;
}

.last-ads .ads-img img {
    width: 150px;
    height: 150px;
}

.media .media-object {
    width: 70px;
    height: 70px;
}

.last-ads .ads-title {
    text-align: center;
    margin-top: 10px;
}

.list-ads .ads-link {
    display: block;
}



footer a {
    text-decoration: none;
    color: #535653;
    font-size: 90%;
}

footer ul {
    padding-left:0;
}

footer li {
    list-style: none;
}

#map, #events {
    width: 100%;
    height: 434px;
    padding: 0;
    margin: 0;
}

